[MESSAGES CONTROL]
disable=
	bad-continuation, # https://github.com/PyCQA/pylint/issues/1148
	design,
	fixme,
	missing-docstring,
	trailing-whitespace,
  unnecessary-pass

	
[BASIC]
# https://github.com/PyCQA/pylint/issues/2018
argument-rgx=^[a-z_]{1,}$
variable-rgx=^[a-z_]{1,}$

[FORMAT]
indent-string=\t

[VARIABLES]
init-import=y
