docutils>=0.14
twine>=1.6.5,<2
pyxcute>=0.5.1,<0.6
sphinx-autobuild>=0.7.1,<0.8
Sphinx>=1.6.5,<2
pylint>=1.8.4,<2
pathlib2>=2.3.2,<3; python_version<"3.5"
unittest2>=1.1.0,<2; python_version<"3.5"
subprocess32==3.5.0rc1; python_version<"3.5"
-e .
